{% extends 'base.html' %}

{% block content %}


<!-- ... existing code ... -->


<div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="card" style="width: 18rem;">
        {%load static%}
        <img src="{% static 'default_avatar.png' %}" class="card-img-top" alt="Your Name" >
        <div class="card-body">
            <h5 class="card-title">Yun Jen Xu</h5>
            <p class="card-text">Hi, my name is yunjen xu. I'm a student from NTU EE. </p>
        </div>
    </div>
</div>
<!-- ... existing code ... -->
{% endblock %}