{% extends 'base.html' %}
{% block content %}



    <div class="row">
        <div class="col-md-6">
            <h2>Submit a Message</h2>
            <div class="mb-3">
            {%load static  %}
                <img src="{{user_avatar_image_url}}" class="rounded-circle" alt="avatar" id ='avatar_image'>
                <div>
                    <h3>{{ username }}</h3>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6 message_board_show col">
            <h2>All Messages</h2>
            {% for message_element in message_board %}
                <div class="card mb-1 message_card">
                      <div class="card-body">
                        <div class="row ">
                            <div class="col-3">
                                <img src="/static/USER_DATA/{{message_element.username}}/avatar.png" class="rounded-circle" alt="avatar" id ='avatar_image_mesg'>
                                <h5 class="">{{message_element.username}}</h5>
                            </div>
                            <div class="col-7">
                                <p class="">{{ message_element.message }}</p>
                            </div>
                            {% if message_element.username == username %}
                            <div class="col-1" >

                                <div>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_message_id" value="{{ message_element.id }}">
                                        <button type="submit" class="btn btn-danger">delete</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                            {% endif %}
                          </div>
                    </div>      
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        #avatar_image {
            width: 100px;
            height: 100px;
        }
        #avatar_image_mesg{
            width: 50px;
            height: 50px;
        }
        .message_board_show{
            overflow-y: scroll;
            overflow-x: fixed;
            height: 600px;
        }


        </style>
        <script>

        </script>
    {% endblock %}